<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<configSections>
		<section name="sipsoftphone" type="SIPSorcery.SoftPhone.SIPSoftPhoneState, ShinyCall"/>
	</configSections>
	<appSettings>
		<add key="STUNServerHostname" value=""/>
		<add key="SIPUsername" value="822"/>
		<add key="SIPPassword" value="822"/>
		<add key="SIPServer" value="172.17.1.17"/>
		<add key="SIPFromName" value="Softphone Sample"/>
		<add key="DnsServer" value=""/>
		<add key="UseAudioScope" value="false"/>
		<add key="AudioOutDeviceIndex" value="-1"/>
		<add key="SIPPhoneNumber" value="822"/>
		<add key="APIaddress" value="http://193.95.252.42:51996"/>
		<add key="CallData" value="somewhere"/>
		<add key="IdData" value="4"/>
	</appSettings>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=.\db.db;Version=3;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
